.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fdefe1;
  height: 130px;
  color: #334d5c;
  width: 100%;
  display: block;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

hr {
  margin: 0;	
}

.map {
  margin: 0;
  width: 80%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.search-bar {
	display: flex;
	width: 100%;
	height: 40px;
	background-color: #fdefe1;
	border-bottom: 1px solid #334d5c;
}

.search-bar li {
	text-decoration: none;
	float: left;
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}

.search-tab {
	display: flex;
	flex-wrap: wrap;
	float: left;
	width: 20%;
	border-radius: 10px;
	line-height: 1.5rem;
}

.list-bar {
  display: flex;
  width: 20%;
  float: left;
  color: #334d5c;
  line-height: 5rem;
  background-color: #fdefe1;
  display: block;
}

.location-list ul {
  line-height: 4rem;
}

.location-list li {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}

.location-list {	
  display: block;
  height: 100vh;
}
/* finally I didn't use this class
.show {
  display: block;
}
*/

@media screen and (max-width: 800px) {

  .map {
    width: 80%;
	display: flex;
  }
  
  .list-bar {
  display: flex;
  width: 20%;
  float: left;
  color: #334d5c;
  line-height: 3rem;
  background-color: #fdefe1;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

 .search-tab {
	display: flex;
	width: 20%; 
	line-height: 0;
	height: 20px;
 }

.location-list {
  line-height: 3rem;
   margin: 0;
   padding: 0;
}

.location-list li {
   margin-left: 5px;
}

}

@media screen and (max-width: 500px) {
 .map {
	display: flex;
    width: 70%;
	float: left;
  
 }
 
 .search-tab {
	display: flex;
	width: 25%; 
	line-height: 0;
	height: 20px;
 }
  
  .list-bar {
  display: flex;
  width: 30%;
  float: left;
  color: #334d5c;
  line-height: 3rem;
  background-color: #fdefe1;
  font-size: 0.8rem;
}

.location-list ul {
  line-height: 3rem;
}
}
